body{
	margin: 0;
	display: block;
	background-image: url('../../assets/images/basketball.jpg');
}
 button {
 	margin: 10px;
 	padding: 10px;
 	background-color: darkorange;
 	border-radius: 20px;
 	border: 4px solid black;
 	color: black;
 	font-weight: bold;
 	text-transform: capitalize;
 }

div {
 	margin: 0;
 }

img {
	width: 200px;
	height: 160px;
	margin: 20px;
}

.header {
	font-size: 25px;
	line-height: 35px;
	background: black;
	border: 5px solid orange;
	border-radius: 10px;
	text-align: center;
	padding: 20px;
	color: orange;
}

.player-wrapper {
	float: left;
	max-width: 950px;
	margin-top: 30px;
}
 
#gifs {
	float: left;
	max-width: 950px;
}

.gif-rating {
	max-width: 240px;
	float: left;

}

.gif-rating p {

}

.playerDiv {
	max-width: 950px;
	display: block;
}

/* this is the div with the form */
.input-form {
	float: right;
}

aside {
	float: right;
}

.form {
	text-align: center;
	margin-top: 30px;
	margin-right: 50px;
}

fieldset {
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;    
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    min-width: -webkit-min-content;
    border-width: 5px;
    border-style: groove;
    border-color: black ;
    border-radius: 10px;
    color: black;
    font-weight: bold;
}

input {
	vertical-align: middle;
}

.player-name {
	background: darkorange;
	color: black;
	padding: 5px;
	max-width: 670px;
	text-align: center;
	margin-left: 20px;
	border-radius: 20px; 
	margin-top: 30px;
	border: 2px solid black;
}

.pRating {
	text-align: center;
	background: darkorange;
	color: black;
	max-width: 120px;
    padding: 2px;
    margin: 0 60px;
	border-radius: 20px;
	border: 2px solid black;
}

#player-input {
	border: 2px solid black;
	color: black;
	padding: 5px;
	font-weight: bold;
	background-color: orange;
	border-radius: 5px;
}
/* this styles the input button*/
#addPlayer {
	background-color: orange;
	padding: 10px;
	margin-top: 10px;
	color: black;
	font-weight: bold;
	border-radius: 5px;
	border: 2px solid black;
}

.clearBoth {
	clear: both;
}