body{
	margin: 0;
	display: block;
	background-image: url('../../assets/images/basketball.jpg');
}
.container {
	overflow: auto;
	text-align: center;/*88888888888*/
}

 button {
 	margin: 10px;
 	padding: 10px;
 	background-color: darkorange;
 	border-radius: 20px;
 	border: 4px solid black;
 	color: black;
 	font-weight: bold;
 	text-transform: capitalize;
 }

img {
	width: 200px;
	height: 160px;
	margin: 20px;
}

.header {
	font-size: 25px;
	line-height: 35px;
	background: black;
	border: 5px solid orange;
	border-radius: 10px;
	text-align: center;
	padding: 20px;
	color: orange;
}

.player-wrapper {
	float: right;
	max-width: 980px;
	margin-top: 30px;
}
 
#playerbtns {
	text-align:  center;
}

#gifs {
	float:left;
	max-width: 980px;
}

.gif-rating {
	max-width: 240px;
	float: left;
}

.playerDiv {
	max-width: 980px;
	display: block;
}

.input-form {
	float: left;
}

.form {
	text-align: center;
	margin: 30px;
}


fieldset {
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;   
    border-width: 5px;
    border-style: groove;
    border-color: black ;
    border-radius: 10px;
    color: black;
    font-weight: bold;
}


input {
	vertical-align: middle;
}

.player-name {
	background: darkorange;
	color: black;
	padding: 5px;
	max-width: 910px;
	text-align: center;
	margin-left: 20px;
	border-radius: 20px; 
	margin-top: 30px;
	border: 2px solid black;
}

.pRating {
	text-align: center;
	background: darkorange;
	color: black;
	max-width: 120px;
    padding: 2px;
    margin: 0 60px;
	border-radius: 20px;
	border: 2px solid black;
}

#player-input {
	border: 2px solid black;
	color: black;
	padding: 5px;
	font-weight: bold;
	background-color: orange;
	border-radius: 5px;
}
/* this styles the input button*/
#addPlayer {
	background-color: orange;
	padding: 10px;
	margin-top: 10px;
	color: black;
	font-weight: bold;
	border-radius: 5px;
	border: 2px solid black;
}

.clearBoth {
	clear: both;
}


@media only screen and (max-width: 980px) {

	.container {
    	max-width: 980px;
    	overflow: auto;
    	text-align: center;
  }

    .input-form, .player-wrapper {
 		display: inline-block;
 		margin: 30px auto;
 		float: none;
  }

    .form {
    	margin: 30px auto;
    	max-width: 100%;
 }

	.playerBtns-gifs {
    	margin: 10px auto;
}

	.playerName {
		margin: 20px;
		max-width: 670px;
}

@media only screen and (max-width: 768px) {

    .container {  
    	max-width: 768px;
    	text-align: center;
    	overflow: auto;
    }

   .input-form, .player-wrapper {
    	display: inline-block;
    	margin: 30px auto;
    	float: none;
    }

 	#playerBtns {
		margin:10px auto;
	}

	.form {
		margin: 30px auto;
		text-align: center;
		max-width: 100%
	}

}

@media only screen and (max-width: 640px) {
	.container {
		max-width: 640px;
    	text-align: center;
    	overflow: auto;
	}

  	.input-form, .player-wrapper {
    	display: inline-block;
 		margin: 30px auto;
 		float: none;
  	}

  	.form {
		margin: 30px auto;
		text-align: center;
		max-width: 100%
	}
	
	#playerBtns {
		margin:10px auto;
	}

	form {
		margin: 30px auto;
	}
}